*{
    padding: 0;margin: 0;
}
.body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px 40px;
    height: 500px;
    width: 700px;
    box-shadow: 5px solid black;
}
.product{
    padding: 25px;
    height: 300px;
    width: 700px;
    border: 2px solid black;
    box-shadow: 5px solid black;
    border-radius: 10px;
}
.product:hover{
    box-shadow: 15px solid black;
    border-radius: 10px;

}
.product img{
    padding: 2px;
    gap:5px 15px;
    height: 200px;
    width: 190px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 75px;
    background: #000;
}
.nav img{
    height: 55px;
}
.right img{
    height: 55px;
}
.cart{
    position: relative;
    display: inline-block;
}
#addItem{
    position: absolute;
  top: -5px;   /* adjust to fit your icon */
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 6px;
}
button{
    padding: 5px;margin: 0;
    gap: 30px 20px;
}
.btn{
    padding: 5px;
    margin: 2px;
}
